@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* HomeView */

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top {
  flex-direction: row;
}

.top h1 {
  text-transform: uppercase;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Cards das Séries e Form */

.cardSerie {
  max-width: 300px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.cardSerie h2 {
  color: hsla(160, 100%, 37%, 1);
  text-transform: uppercase;
}

.form {
  display: flex;
  justify-content: center;
  size: 2rem;
}

.form p {
  margin: 10px 0;
}

.form input {
  padding: 10px;
  border-radius: 20px;
}

.cardForm {
  width: 500px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
}

.btn-remover,
.btn-salvar {
  border-radius: 20px;
  padding: 15px;
  text-transform: uppercase;
  background-color: hsla(160, 100%, 37%, 1);
  color: black;
}

.btn-remover:hover {
  background-color: rgb(175, 0, 0);
  color: #fff;
  cursor: pointer;
}

.btn-salvar:hover {
  background-color: rgb(0, 95, 60);
  color: #fff;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (width <=768px) {
  .catalogo {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <=450px) {
  .catalogo {
    grid-template-columns: 1fr;
  }
}
